.RangeSelector{
    text-align: left;
}

.rt-header{
    display: inline-block;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
}

.rt-input-container{
    margin: 16px 0;
}

.close-btn{
    display: inline-block;
    float: right;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    margin-right: 16px;
    margin-top: 8px;
}


#rt-col{
    padding-right: 0px;
    padding-left: 0px;
}

#rt-range-input{
    margin-right: 16px;
}
