.HandBtn{
    background-color: #eee;
    border: 1px solid #222;
    border-radius: 4px;
    text-align: center;
    margin: 1px;
}

.HandBtn:hover{
    background-color: #555b6e;
    border: 1px solid #222;
    color: white;
}

.suit-symbol{
    height: 8px;
    width: 8px;
    background: red;
    border-radius: 50%;
    margin: auto;
}

.suit-symbol.diamonds{
    background-color: #3333A3;
}

.suit-symbol.clubs{
    background-color: #2E8B57;
}

.suit-symbol.hearts{
    background-color: #BB2222;
}

.suit-symbol.spades{
    background-color: #222;
}

.hb-active{
    background-color: coral;
    border: 1px solid #222;
    border-radius: 4px;
    text-align: center;
    font-style: bold;
    color: #222;
}

.hb-active:hover{
    background-color: #555b6e;
    color: white;
}

.HandBtn#square {
  width: 100%;
}

.HandBtn#square:after {
  content: "";
  display: block;
  padding-bottom: 150%;
}

#hb-content{
    position: absolute;
    width: 100%;
    height: 0;
    font-size: 1.25vw;
}
