.HandTable{
    text-align: left;
}

#ht-selector{
    border-radius: 4px;
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-box-shadow: -2px 2px 6px 2px #ccc;
    -moz-box-shadow:    -2px 2px 6px 2px #ccc;
    box-shadow:         -2px 2px 6px 2px #ccc;
}

#ht-col{
    padding-right: 1px;
    padding-left: 1px;
}
