.Player{
    text-align: left;
    margin-bottom: 16px;
}

.rt-header{
    display: inline-block;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
}

.rt-input-container{
    margin: 8px 0;
}

.close-btn{
    display: inline-block;
    float: right;
    font-weight: bold;
    width: 40px;
    height: 40px;
    font-size: 28px;
    cursor: pointer;
    margin-right: 16px;
    margin-top: 16px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    text-align: center;
    line-height: 35px;
}

.close-btn:hover{
   box-shadow: 0 3px 7px 0 #666;
   transform: scale(1.05);
   background-color: white;
}

.close-btn:active {
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.4);
}

.Player .clear-range{
    background-color: #555b6e;
}

.Player .clear-range:hover{
    background-color: #777d8f;
}

.Player #clear-btn:active{
    background-color: #555b6e;
}

.Player #clear-btn:focus{
    background-color: #555b6e;
}

#rt-range-input{
    margin-right: 9px;
}
