.Player{
    text-align: left;
}

.rt-header{
    display: inline-block;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
}

.rt-input-container{
    margin: 8px 0;
}

.close-btn{
    display: inline-block;
    float: right;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    margin-right: 16px;
    margin-top: 8px;
}

.Player .clear-range{
    background-color: #555b6e;
}

.Player .clear-range:hover{
    background-color: #777d8f;
}

.Player #clear-btn:active{
    background-color: #555b6e;
}

.Player #clear-btn:focus{
    background-color: #555b6e;
}

#rt-range-input{
    margin-right: 9px;
}
